[build]
builder = "nixpacks"

[deploy]
startCommand = "(npx tsx src/db/push.ts || true) && (npx tsx src/db/seed.ts || true) && npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
