[build]
builder = "nixpacks"

[deploy]
startCommand = "npx tsx src/db/seed.ts; npm run start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
