@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
}

/* Custom Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: #818cf8 #f1f5f9;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: #818cf8;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #6366f1;
}
